---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return [
    { params: { book: "book1", author: "a1" } },
    { params: { book: "book2", author: "a2" } },
  ];
}

const { book, author } = Astro.params;
---

<Layout title="Book">
  <h1>Book: {book}</h1>
  <p>author: {author}</p>
  <a href="/"> Back to Home</a>
</Layout>
<style lang="scss">
  a {
    color: bisque;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      filter: brightness(1.5);
    }
  }
</style>
